# custom files
custom/
!custom/plugins/example
!custom/example.zsh
!custom/plugins
!custom/virtualenvwrapper.zsh
!custom/sshsock.zsh
*.swp
!custom/example.zshcache

# temp files directories
cache/
log/
.DS_Store
